# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# thefuck alias
eval $(thefuck --alias)

#Python virtualenv createion
alias createvenv='virtualenv -p /usr/bin/python3 venv;source venv/bin/activate;echo "*" > venv/.gitignore'
#Python virtualenv activation
alias venv='source venv/bin/activate'

